:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

*,
*::after,
*::before,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.header-main-wrapper {
  min-height: 100vh;
  background: url("../images/bg-mobile.svg") no-repeat top left / 100%,
    var(--violet);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
}

.logo {
  width: 10rem;
}

/* Main */
main {
  margin-top: 2rem;
  padding: 0px 2rem;
}

.left-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1rem auto;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  max-width: 300px;
}

.right-part__para {
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 1.6rem;
  max-width: 400px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.right-part__btn {
  display: block;
  margin: 2rem auto;
  margin-bottom: 3rem;
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: none;
  color: var(--violet);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s, color 0.4s;
}

.right-part__btn:hover {
  background-color: var(--soft-magenta);
  color: white;
}

.social-media-list {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.social-media-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid white;
  transition: border 0.4s;
}

.social-media-list__link:hover {
  border: 1px solid var(--soft-magenta);
}

.social-media-list i {
  color: white;
  transition: color 0.4s;
}

.social-media-list__link:hover i {
  color: var(--soft-magenta);
}

.attribution {
  background-color: #fff;
  padding: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px) {
  main,
  header {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .header-main-wrapper {
    background: url("../images/bg-desktop.svg") no-repeat top left / 100% 100%,
      var(--violet);
    min-height: unset;
    padding-bottom: 2rem;
  }

  main,
  header {
    max-width: 92%;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    flex-flow: row nowrap;
    align-items: flex-start;
  }

  .left-part {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .left-part {
    flex: 0 1 60%;
  }

  .right-part {
    flex: 0 1 40%;
  }

  h1,
  .right-part__para {
    max-width: unset;
    text-align: left;
    max-width: 24rem;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2.4rem;
    max-width: 24rem;
    margin-left: 0;
    margin-right: 0;
  }

  .right-part__btn {
    margin: 1rem 0;
  }

  .social-media-list {
    margin-top: 7rem;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .header-main-wrapper {
    background: url("../images/bg-desktop.svg") no-repeat top center / contain,
      var(--violet);
  }

  main,
  header {
    max-width: 1300px;
  }

  h1 {
    font-size: 3rem;
    line-height: 4.2rem;
    max-width: unset;

  }

  .right-part__para {
    max-width: unset;
  }

  .left-part {
    flex: 0 1 auto;
  }

  .social-media-list {
    margin-top: 12rem;
  }
}
